li {
  font-size: 45px;
  display: inline;
  color: orange;
}

h1 { 
 font-family: 'Baloo', cursive;
 font-size: 50px;
}

body {
  color: white;
  margin: 0 auto;
  margin-left: auto;
  text-align: center;
	background: #455166;
  font-family: 'Dosis', sans-serif;
  font-weight: 10;
}

/*button{
  margin: 0 auto;
}*/

p{
 /*text-align: left;*/
/* font-size: 90%;*/
}

#container{
  min-height: 98px;
}
 
#button-container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.btn {
    width: 100px;
    height: 100px;
    float: left; 
    margin: 15px;
    white-space: normal;
 

}
